<div class="row">
  <div class="col-md-12">

    <div class="fart-around">
      <button type="button" id="fart-around" class="btn btn-lg">Fart Around</button>
    </div>

    <span id="showme"></span>
    <%= render 'tasks/select_a_set' %>

    <div class="select-a-set">
      <button type="button" id="select-button" class="btn btn-lg">Select-a-Set</button>
    </div>

  </div>
</div>
