#selectme {
  display: none;
  padding-top: 15px;
  font-size: 150%;
  .check_box_label {
    margin: 5px;
  }
  .check_box {
    margin-right: 5px;
  }
}

#select-button {
  margin-top: 15px;
}

.collection_check_boxes {
  padding-right: 10px;
  padding-left: 3px;
}

.task_true {
  color: gray;
}

.completed {
  color: black;
  padding-bottom: 10px;
  border-bottom: 5px solid black;
}

